.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: #000000b3;
    z-index: 10;
}

.myModalContent {
    padding: 25px;
    background-color: #263341;
    border-radius: 16px;
    width: 650px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}